name: 'template_expressions'
description: 'A Dart library to process string based templates using expressions.'
homepage: 'https://github.com/peiffer-innovations/template_expressions'
version: '2.1.0'

environment:
  sdk: '>=2.18.0 <3.0.0'

dependencies:
  convert: '^3.1.1'
  crypto: '^3.0.1'
  encrypt: '^5.0.1'
  fake_async: '^1.3.0'
  intl: '^0.18.0'
  json_class: '^2.1.3'
  json_path: '>=0.3.0 <0.5.0'
  logging: '^1.1.0'
  meta: '^1.7.0'
  petitparser: '^5.1.0'
  pointycastle: '^3.6.2'
  quiver: '^3.1.0'
  rxdart: '^0.27.7'
  yaon: '^1.0.1+8'

dev_dependencies:
  flutter_lints: '^2.0.1'
  test: '^1.22.1'

ignore_updates:
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
